/* Asterisk wildcard selector to override defaultstyles from browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#logo {
    font-size: 170%;
}

/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color: rgb(240, 9, 240);
    font-family:'Truculenta',sans-serif;
}

header {
    background-image: url('path/to/strawberry-pancakes.jpg'); 
    background-size: cover; 
    background-position: center; 
    color: white;
    padding: 20px;
    text-align: center;
}



header a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3{
    font-family: 'Truculenta', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(122, 15, 253);
}
